.project-page {
    width: 100vw;

    .cover {
        height: 100vh;
        width: 100vw;
        top: 0;
        right: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .overlay{
            height: 100vh;
            width: 100vw;
            z-index: 999;
            background-color: #000;
            position: absolute;
            opacity: 0.4;

        }

        .img {
            height: 100%;
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background-position: 50%, 50%;
            background-repeat: no-repeat;
            background-size: cover;

            img{
                width: 100%;
                z-index: 22;
            }
        }

        .title{
            position: absolute;
            font-family: 'made tommy';
            font-size: 70px;
            color: #f1f1f1;
            z-index: 99999;
            transition: 0.3s;
            animation: fadein 0.7s;

            @keyframes fadein {
                from{
                    transform: translateY(50px);
                    opacity: 0;
                }
            }
        }
    }

    .content{
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 220px;
        
        .project-description{
            font-family: 'made tommy';
            font-weight: 300;
            font-size: 18px;
            text-align: center;
            line-height: 1.6;
            margin: 50px 0;
            padding: 0 100px;
            
        }

        .project-images{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            .img{
                width: 100%;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 15px;
                cursor: pointer;

                img{
                    width: 100%;
                }
            }
        }
    }
}