html{
  // scroll-behavior: smooth;
  background-color: #000;
  ::-webkit-scrollbar{
    display: none;
  }
}


.App{
  width: 100vw;
  height: 100vh;
  background-color: #000; 
  user-select: none;
  
  
  .cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid white;
    transition: 0.1s;
    z-index: 999999999999;
    pointer-events: none;
  }

}
