body {
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'made tommy';
  src: url('./assets/fonts/made-tommy/black.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'made tommy';
  src: url('./assets/fonts/made-tommy/bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'made tommy';
  src: url('./assets/fonts/made-tommy/light.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'made tommy';
  src: url('./assets/fonts/made-tommy/thin.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'made tommy';
  src: url('./assets/fonts/made-tommy/medium.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'made tommy';
  src: url('./assets/fonts/made-tommy/regular.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'made tommy';
  src: url('./assets/fonts/made-tommy/extrabold.otf');
  font-weight: 900;
}
